footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: flex-end;
}

.social-img {
  align-items: flex-end;
  max-width: 30px;
  max-height: 30px;
  margin-right: 0.5rem;
}
